.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.form-date{
    width: 100%;
    position: relative;
}
.form-date input{
    padding-right: 30px;
}
.form-date span{
    position: absolute;
    top: 10px;
    right: 10px;
}
.form-date span > * {
    color: #777;
}
.mt20{
    margin-top: 20px;
}
.btn-authorize{
    width: 133px;
}
.btn-addUserCatalogue{
    width: 241px;
}
.input-my-search{
    width: 275px !important;
}
.mt12{
    margin-top: 12px;
}
.mb15{
    margin-bottom: 15px;
}
.mt15{
    margin-top: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb30{
    margin-bottom: 30px;
}
.mb25{
    margin-bottom: 25px;
}
.mb20{
    margin-bottom: 20px;
}
.m0{
    margin: 0 !important;
}
.text-bold{
    font-weight: bold;
}
.mt10{
    margin-top: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 37px !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px !important;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: 3px !important;
    position: absolute;
    top: 50%;
    width: 0;
}
.table .image{
    height: 73px;
    display: block;
}
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table strong{
    min-width: 88px;
    display: inline-block;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    vertical-align: middle;
}
.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-middle{
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items: center;
}
.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom: 20px;
}
.filter-wrapper .perpage{
    display: inline-block;
}

.mr10{
    margin-right: 10px;
}
.btn{
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}
.filter-wrapper .form-control{
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}
.mr5{
    margin-right: 5px;
}
.ml10{
    margin-left: 10px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
.control-label{
    display: block;
}
.panel-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.panel-desciption{
    font-size: 15px;
}